<a href="https://colab.research.google.com/github/hewp84/tinyml/blob/main/FA22_Prelab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prelab 8: Database & Visualization 2 - Grafana dashboard

## Introduction

In this lab, we will use a web visualization application, Grafana. Grafana is an open-source interactive visualization web dashboard application. Grafana provides various visualization functionalities, such as charts, tables, time series graphs, statistics, and alerts for the web according to the supported data sources. As data sources, Grafana supports both SQL and NoSQL. Grafana allows you to query, visualize, alert on, and understand your metrics no matter where you are stored. It enables to create, explore, and share dashboards. Major features of Grafana are as follows<sup>1</sup>.

* Visualization
  * Fast and flexible client-side graphs with a multitude of options. Panel plugins offer many ways to visualize metrics and logs 
* Dynamic Dashboards
  * Create dynamic & reusable dashboards with template variables that appear as dropdown at the top of the dashboard. 
* Explore Metrics
  * Explore your data through ad-hoc queries and dynamic drilldown. Split view and compare different time ranges, queries and data sources side by side. 
* Explore Logs
  * Experience the magic of switching from metrics to logs with preserved label filters. Quickly search through all your logs or streaming them live. 
* Alerting
  * Visually define alert rules for your most important metrics. Grafana will continuously evaluate and send notifications to systems like Slack, PagerDuty, VictorOps, OpsGenie. 
* Mixed Data Sources
  * Mix different data sources in the same graph! You can specify a data source on a per-query basis. This works for even custom data sources. 

  ![picture](https://github.com/hewp84/tinyml/blob/main/img/PL8_Figure1.jpg?raw=true)

  *Figure 1 Example of web dashboard using Grafana*

---
<sup>1</sup>Grafana GitHub: https://github.com/grafana/grafana

## Preparation for Visualization

In Lab8, we will visualize the stored data in MySQL database using Grafana so that you can see graphs and charts in the web browser. Also, we will create the entire data collection and visualization data stream from the sensor, edge computer, MTConnect, and database eventually to Grafana web dashboard as shown in Figure 2. This system allows us of enabling remote web-based and real-time monitoring as an application of IIoT implementation. 

![picture](https://github.com/hewp84/tinyml/blob/main/img/PL8_Figure2.png?raw=true)

*Figure 2 Schematic of remote real-time monitoring*

To visualize data from MySQL to Grafana, you need to be familiar with SQL datatype and queries, especially “SELECT” statement. As a practice, perform TASK 1. 
<br></br>
*Table 1 Example of MySQL table*

<table width="510">
<tbody>
<tr>
<td width="40">
<p>id</p>
</td>
<td width="152">
<p>timestamp</p>
</td>
<td width="97">
<p>sensor</p>
</td>
<td width="102">
<p>measurement</p>
</td>
<td width="120">
<p>value</p>
</td>
</tr>
<tr>
<td width="40">
<p>&nbsp;</p>
</td>
<td width="152">
<p>&nbsp;</p>
</td>
<td width="97">
<p>&hellip;</p>
</td>
<td width="102">
<p>&nbsp;</p>
</td>
<td width="120">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="40">
<p>5</p>
</td>
<td width="152">
<p>2022-03-07 01:15:26</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Xacc</p>
</td>
<td width="120">
<p>0.049828</p>
</td>
</tr>
<tr>
<td width="40">
<p>6</p>
</td>
<td width="152">
<p>2022-03-07 01:15:26</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Yacc</p>
</td>
<td width="120">
<p>-0.00012</p>
</td>
</tr>
<tr>
<td width="40">
<p>7</p>
</td>
<td width="152">
<p>2022-03-07 01:15:26</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Zacc</p>
</td>
<td width="120">
<p>10.05482</p>
</td>
</tr>
<tr>
<td width="40">
<p>8</p>
</td>
<td width="152">
<p>2022-03-07 01:15:27</p>
</td>
<td width="97">
<p>power_meter</p>
</td>
<td width="102">
<p>true_power</p>
</td>
<td width="120">
<p>197.2017</p>
</td>
</tr>
<tr>
<td width="40">
<p>9</p>
</td>
<td width="152">
<p>2022-03-07 01:15:27</p>
</td>
<td width="97">
<p>DHT11</p>
</td>
<td width="102">
<p>Temp</p>
</td>
<td width="120">
<p>23</p>
</td>
</tr>
<tr>
<td width="40">
<p>10</p>
</td>
<td width="152">
<p>2022-03-07 01:15:27</p>
</td>
<td width="97">
<p>DHT11</p>
</td>
<td width="102">
<p>Humd</p>
</td>
<td width="120">
<p>48</p>
</td>
</tr>
<tr>
<td width="40">
<p>11</p>
</td>
<td width="152">
<p>2022-03-07 01:15:28</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Xacc</p>
</td>
<td width="120">
<p>-0.10091</p>
</td>
</tr>
<tr>
<td width="40">
<p>12</p>
</td>
<td width="152">
<p>2022-03-07 01:15:28</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Yacc</p>
</td>
<td width="120">
<p>0.01897</p>
</td>
</tr>
<tr>
<td width="40">
<p>13</p>
</td>
<td width="152">
<p>2022-03-07 01:15:28</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Zacc</p>
</td>
<td width="120">
<p>9.98045</p>
</td>
</tr>
<tr>
<td width="40">
<p>14</p>
</td>
<td width="152">
<p>2022-03-07 01:15:29</p>
</td>
<td width="97">
<p>power_meter</p>
</td>
<td width="102">
<p>true_power</p>
</td>
<td width="120">
<p>199.7116</p>
</td>
</tr>
<tr>
<td width="40">
<p>15</p>
</td>
<td width="152">
<p>2022-03-07 01:15:29</p>
</td>
<td width="97">
<p>DHT11</p>
</td>
<td width="102">
<p>Temp</p>
</td>
<td width="120">
<p>25</p>
</td>
</tr>
<tr>
<td width="40">
<p>16</p>
</td>
<td width="152">
<p>2022-03-07 01:15:29</p>
</td>
<td width="97">
<p>DHT11</p>
</td>
<td width="102">
<p>Humd</p>
</td>
<td width="120">
<p>50</p>
</td>
</tr>
<tr>
<td width="40">
<p>17</p>
</td>
<td width="152">
<p>2022-03-07 01:15:28</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Xacc</p>
</td>
<td width="120">
<p>-0.04791</p>
</td>
</tr>
<tr>
<td width="40">
<p>18</p>
</td>
<td width="152">
<p>2022-03-07 01:15:28</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Yacc</p>
</td>
<td width="120">
<p>-0.00784</p>
</td>
</tr>
<tr>
<td width="40">
<p>19</p>
</td>
<td width="152">
<p>2022-03-07 01:15:28</p>
</td>
<td width="97">
<p>ADXL345</p>
</td>
<td width="102">
<p>Zacc</p>
</td>
<td width="120">
<p>9.890663</p>
</td>
</tr>
<tr>
<td width="40">
<p>&nbsp;</p>
</td>
<td width="152">
<p>&nbsp;</p>
</td>
<td width="97">
<p>&hellip;</p>
</td>
<td width="102">
<p>&nbsp;</p>
</td>
<td width="120">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

![picture](https://github.com/hewp84/tinyml/blob/main/img/PL8_Figure3.png?raw=true)

*Figure 3 Example of data: Z-axis acceleration (left) and Temperature (right)*

### TASK 1: SELECT query

1.	What are SELECT statements to plot two time-series graphs like Figure 3 if your database table looks like Table 1? Write down two entire SELECT statements. 
2.	What are the result grids of each SELECT statement from the example table?
  * Assume that your table name is ‘ME597Spring22.yourname’. 
  * Write down each full SELECT statement, e.g., SELECT SOMETHING.

### TASK 2: TIMESTAMP of MySQL

1.	What is the time zone of ‘TIMESTAMP’ datatype of MySQL? 
2.	What is the format of ‘TIMESTAP’ datatype?

### TASK 3: MTConnect timestamp

An example of MTConnect timestamp is "2022-02-25T04:34:33.605220Z". Write down a Python script for which you want to convert the timestamp string of MTConnect to MySQL TIMESTAMP format. Attach your script to the report. 
* Both MTConnect timestamp and MySQL TIMESTAMP data types of Python are string. 
* Convert the MTConnect timestamp string given in this TASK to the timestamp string as MySQL TIMESTAMP format. 
* If needed, you need to convert the time zone.

## Related Websites and Further Reading

We cannot cover all topics of SQL because SQL itself is sometimes taught in a university-level course. If you are interested in depth about SQL, please consider taking courses offered by Computer Science below. 
* Grafana official website: https://grafana.com/ 
* Grafana GitHub: https://github.com/grafana/grafana 
* Grafana Live Demo: https://play.grafana.org/d/000000012/grafana-play-home?orgId=1 (available on Mar. 7, 2022) 
* (Video tutorial) Getting started with Grafana 8: https://grafana.com/go/webinar/getting-startedwith-grafana/ (available on Mar. 7, 2022)

## Deliverable

1.	Perform all Tasks and submit your Prelab8 report on Brightspace before Lab8. 
2.	If you need to collect all data from an MTConnect agent to a table of MySQL database continuously and infinitely, how can you program it? 

  a.	If program the entire Python script and attach it to the report with proper comments of each line: full credit (5 pt) 

  b.	If specify essential features, logic, and functions of MTConnect and MySQL in sentences (3 pt) c. If abstract expressions (1 pt) 
* You can assume both MTConnect XML structure and MySQL table structure.